<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <% taxon.breadcrumbs.reverse.each do |taxon| %>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="<%= taxon.govuk_url %>"><%= taxon.title %></a>
      </li>
    <% end %>
  </ol>
</nav>
